.main{
    &__word{
        display: flex;
        &__letter{
            @include flex;
            @include letter;
            border-bottom: 2px solid black;
            cursor: pointer;

            &--no-decoration{
                @include letter;
                border: none;
            }
        }
    }

    &__keyboard{
        display: flex;

        &__letter{
            @include flex;
            width: 25px;
            height:25px;
            border: 1px solid black;
            cursor: pointer;
        }
    }
}