@import 'mixins';
@import 'main';

*{
    box-sizing: border-box;
}

body{
    background-image: url('https://jooinn.com/images/dark-pattern-1.jpg');
    background-size: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}